[user]
    email = HazyAlex@protonmail.com
    name = HazyAlex

[credential]
    helper = store

[core]
    autocrlf = false

[init]
    defaultBranch = main

[fetch]
    prune = true

[alias]
    a = add
    d = diff
    sw = switch
    reword = commit --amend
    empty = "git commit --allow-empty"
    graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    dark = true
    hunk-header-style = line-number
